@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

  :root {
    --bege-principal: #ededed;
    --cinza-claro: #444444 ;
    --cinza-escuro: #171717;
    --vermelho-destaque: #DA0037;

    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bege-principal);
    color: var(--cinza-escuro);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url(./assets/capa-cabecalho.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__caixa {
    margin: 0 4em;
}

.container__titulo {
    font-size: 24px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 1em 0;
}

.container__botao {
    background-color: var(--vermelho-destaque);
    border-radius: 8px;
    padding: 1em;
    color: var(--bege-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cinza-escuro);
    color: var(--cinza-claro);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-claro);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.container__descricao {
    padding: 2em;
}

.descricao__titulo {
    font-size: 40px;
    font-weight: 700;
    color: var(--vermelho-destaque);
    margin-bottom: 0.5em;
}

.descricao__texto {
    color: var(--cinza-claro);
    font-size: 20px;
    margin-bottom: 1em;
}

.secundario__botao {
    display: inline-block;
    background-color: var(--cinza-escuro);
    margin-top: 0.5em;
}

.secundario__imagem {
    padding: 0 0 0 2em;
}

.galeria {
    text-align: center;
}

.galeria__titulo {
    font-size: 48px;
    color: var(--cinza-escuro);
}

.galeria__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    margin: 5em 3em;
    text-decoration: none;
    color: var(--cinza-claro);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em 0;
}

.lista__link a {
    text-decoration: none;
    color: var(--cinza-escuro);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    font-size: 14px;
    color: var(--cinza-claro);
}

.lista__link a:hover {
    color: var(--vermelho-destaque);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--cinza-escuro);
    color: var(--bege-principal);
}


@media screen and (max-width: 768px) {
    .container {
        display: inline-block;
        background-image: none;
    }

    .principal {
        margin-bottom: 64px;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__descricao {
        margin: 16px 0;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .descricao__titulo {
        font-size: 24px;
    }

    .descricao__texto {
        font-size: 16px;
        padding: 0 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .container__descricao {
        padding: 0;
    }

    .secundario__imagem {
        width: 50vw;
        padding: 0;
    }

    .galeria {
        margin: 0;
    }

    .galeria__titulo {
        font-size: 32px;
        padding: 0 1em;
    }

    .galeria__lista {
        flex-direction: column;
        gap: 64px;
    }

    .lista__icone {
        width: 50%;
    }

    .rodape__logo{
        width: 70vw;
    }

    .rodape__lista {
        display: inline-block;
        margin-bottom: 32px;
    }

    .lista__link {
        padding: 0.5em 0;
    }
    
}